.listMenu {
  background: darkblue;
  padding: 10px 0px 10px;
}

.itemMenu {
  list-style-type: none;
  display: inline;
  font-size: 25px;
  padding: 10px;
}

.itemMenu:hover {
  background: blue;
}

.itemMenuLink {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin-left: 5px;
}